:root {
  --whiteColor: rgb(239, 239, 239);
  --websitePageColor: rgb(51,53,59);
  --textColor: rgb(161, 129, 255, 0.7);
  --brighterPurpleColor: rgb(138, 99, 255, 0.7);
  --pageHeight: 650px;
  --pageLeftOffset: 21.5%;
}

@font-face {
  font-family: "OpenSans-Medium";
  src: local("OpenSans-Medium"), url(./fonts/OpenSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url(./fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

html {
  /*font-family: 'Segoe UI';*/
  font-family: "OpenSans-Regular";
  background-color: #292D34;
}


/**************
Container (Everything below <HomePage />)
***************/
.container
{
  position: relative;
}

.view {
  display: flex;
  justify-content: center;
  min-width: 1244px;
  min-height: 640px;
}

/**************
Home Page
***************/
.homepage {
  position: relative;
  width: 1245px;
  height: 640px;

  /* makes images/texts unselectable on most browsers*/
  user-select: none;
}

#homepage_text {
  color: var(--textColor);
  font-family: "OpenSans-Bold";
  font-size: 128px;
  z-index: 1000;
  width: 675px;

  position: relative;
  top: 430px;
  left: 285px;
}

#homepage_text:hover
{
  color: var(--brighterPurpleColor);
}

.banner {
  z-index: 0;
  position: relative;
  top: -345px;
  height: 640px;
}

#css_logo
{
  width:250px;
  position: relative;
  bottom: -17px;
  left: 5%;
  filter: blur(3px);
}

#csharp_logo
{
  position: relative;
  left: -8px;
  bottom: -305px;
  filter: blur(3px);
}

#javascript_logo
{
  position: relative;
  left: -96px;
  bottom: -33px;
  filter: blur(3px);
}

#html_logo
{
  width: 300px;
  position: relative;
  left: 878.5px;
  bottom: 105px;
  filter: blur(3px);
}

.homepage_navigation_buttons
{
  position: relative;
  top: 330px;
  left: 417.5px;
  width: 450px;
  z-index: 500;
}

.homepage_navigation_button
{
  background-color: rgb(51, 53, 59, 0.3);
  border: none;
  border-radius: 10px;
  color: var(--textColor);
  font-weight: bold;
  width: 200px;
  height: 60px;
  font-size: 35px;
}

.homepage_navigation_button:hover
{
  color: var(--brighterPurpleColor);
}


#AboutMeButton
{
  position: relative;
  left: 10px;
}

/**************
About Me Page
***************/
.aboutme
{
  height: var(--pageHeight);
  position: relative;
  top: 0px;
  width: 700px;
  left: var(--pageLeftOffset);
}

.topic_title
{
  font-family: "OpenSans-Bold";
  color: var(--whiteColor);
  text-align: center;
}

.topic_title:hover
{
  color: var(--brighterPurpleColor);
}

p.topic_description
{
  color: var(--whiteColor);
  text-align: center;
}

p.topic_description:hover
{
  font-size: 30px;
  color: var(--textColor);
}

.socialMediaContainer
{
  --hoverTextColor: var(--whiteColor);

  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaLink:hover
{
  --hoverTextColor: var(--brighterPurpleColor);
}

#socialMediaImage
{
  width: 60px;
}

#socialMediaContent
{
  font-size: 20px;
  color: var(--hoverTextColor);
  margin-left: 10px;
  float: right;
  }

/**************
Projects Page
***************/

.projects
{
  height: auto;
  position: relative;
  top: 0px;;
  width: 700px;
  left: var(--pageLeftOffset);

  text-align: center;
}

.projectContainer
{
  width: 600px;
  height: 400px;
  margin-left: 50px;

  color: var(--whiteColor);

}

#projectName
{
  font-family: "OpenSans-Medium";
  font-weight: 500;
  font-size: 20px;
  margin-bottom: -20px;
}

#projectLink
{
  color: var(--brighterPurpleColor);
}

#projectImage
{
  max-width: inherit;
  height: inherit;
  border-radius: 10px;
  
}

.projectImageBox
{
  margin: auto;
  
  /*background-color: #2C2F36;*/
  max-width: inherit;
  height: 300px;
  border-radius: 10px;

}

/**************
F O O T E R
***************/
.footer {
  margin-left: -8px;
  height: 20px;
  width: 1260px;
  background-color: #23262c;
  margin-top: 20px;
  text-align: center;
  color: var(--brighterPurpleColor);
  font-size: small;
}


/**************
Scroll Bar Style
***************/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track
{
  background-color: rgb(40,40,45);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--textColor);
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--brighterPurpleColor);
}