:root {
  --whiteColor: rgb(239, 239, 239);
  --websitePageColor: rgb(51,53,59);
  --textColor: rgb(161, 129, 255, 0.7);
  --brighterPurpleColor: rgb(138, 99, 255, 0.7);
  --pageHeight: 650px;
  --pageLeftOffset: 21.5%;
}

@font-face {
  font-family: "OpenSans-Medium";
  src: local("OpenSans-Medium"), url(./fonts/OpenSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url(./fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

html {
  /*font-family: 'Segoe UI';*/
  font-family: "OpenSans-Regular";
  background-color: #292D34;
}

body {
  margin: 0;
}


/**************
Home Page
***************/
.homepage {
  /* makes images/texts unselectable on most browsers*/
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homepage_text {
  color: var(--textColor);
  font-family: "OpenSans-Bold";
  font-size: 128px;
  margin: 0px;
}


#homepage_text:hover
{
  color: var(--brighterPurpleColor);
}

.homepage_navigation_buttons
{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.homepage_navigation_button
{
  background-color: rgb(51, 53, 59, 0.3);
  border: none;
  border-radius: 10px;
  color: var(--textColor);
  font-weight: bold;
  width: 200px;
  height: 60px;
  font-size: 35px;
}

.homepage_navigation_button:hover
{
  color: var(--brighterPurpleColor);
}

@media screen and (max-width: 700px) {
  #homepage_text
  {
    font-size: 100px;
  }

  .homepage_navigation_button
  {
    width:  180px;
    height: 60px;
    font-size: 30px;
  }
}

/* mobile devices */
@media screen and (max-width: 550px) {
  #homepage_text
  {
    font-size: 60px;
  }

  .homepage_navigation_buttons {
    flex-direction: column;
  }

  .homepage_navigation_button
  {
    width:  180px;
    height: 50px;
    font-size: 23px;
  }
}

.HomepageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 200px;
}

.HomepageContent:last-child {
  margin: 50px;
}



/**************
About Me Page
***************/
.aboutme
{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 600px;
}


.topic_title
{
  font-family: "OpenSans-Bold";
  color: var(--whiteColor);
  text-align: center;
}

.topic_title:hover
{
  color: var(--brighterPurpleColor);
}

p.topic_description
{
  color: var(--whiteColor);
  text-align: center;
}

p.topic_description:hover
{
  font-size: 30px;
  color: var(--textColor);
}

@media screen and (max-width: 650px) {
  .aboutme {
    width: 95vw;
  }
}

.SocialMediaContainer {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 10px;
}

@media screen and (max-width: 650px) {
  .SocialMediaContainer {
    grid-template-columns: 300px;
  }
}

/************************
S O C I A L    M E D I A
************************/
.SocialMedia {
  position: relative;
  top: 10px;
  background-color: #1E2024;
  max-width: 300px;
  height: 50px;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0.5;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;

  gap: 60px;
}

.SocialMedia img {
  width: 40px;
  height: 40px;
  position: relative;
  left: 30px;
}

.SocialMedia p {
  font-size: 15px;
  width: 50%;
  color: var(--whiteColor);
  text-align: center;
}

.SocialMedia:hover {
  opacity: 1;
}

#SmallSocialMedia {
  width: 190px;
  height: 40px;
  gap: 30px;
}

#SmallSocialMedia img {
  width: 30px;
  height: 30px;
  left: 20px;
}

/************************
S L I D E  S H O W
************************/

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 300px;
  background-color: transparent;

  user-select: none;
}

.slideshowImage {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.imageNavigationButtons {
  position: absolute;
  display: flex;
  gap: 350px;
}

.imageNavigationButtonsMobile {
  position: absolute;
  display: flex;
  gap: 200px;
}

.imageNavigationButton {
  width: 60px;
  height: 60px;
  opacity: 0.62;
}

.imageNavigationButtonMobile {
  width: 35px;
  height: 35px;
  opacity: 0.62;
}

.slideshowImageIndicators {
  height: 16px;
  position: absolute;
  margin-top: 270px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.slideshowImageIndicatorsMobile {
  position: absolute;
  margin-top: 160px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.slideshowImageIndicatorOnImage {
  background-color: var(--textColor);
  opacity: 0.8;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.slideshowImageIndicatorOnImageMobile {
  background-color: var(--textColor);
  opacity: 0.8;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.slideshowImageIndicator {
  background-color: var(--textColor);
  opacity: 0.42;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.slideshowImageIndicatorMobile {
  background-color: var(--textColor);
  opacity: 0.42;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}


/**************
Projects Page
***************/
.projectsContainer {
  --gridSize: 170px;

  display: grid;
  justify-content: center;
  text-align: center;
  gap: 50px;

  grid-template-columns: var(--gridSize) var(--gridSize) var(--gridSize);
  grid-template-rows: var(--gridSize);

}

.Project {
  display: flex;
  flex-direction: column;
  place-items: center;

  width: var(--gridSize);
  height: var(--gridSize);
}

.Project img {
  width: 80%;
  height: 80%;
  border-radius: 3px;
}

.Project p {
  margin: 0;
  color: var(--textColor);
  font-family: "OpenSans-Bold";
  font-size: 13px;
}

@media screen and (max-width: 650px) {
  .projects {
    width: 95vw;
  }

  .projectsContainer {
    grid-template-columns: var(--gridSize) var(--gridSize);
  }
}

@media screen and (max-width: 450px) {
  .projectsContainer {
    grid-template-columns: var(--gridSize);
  }
}

/* Project Overview */
.ProjectOverview {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: none;
  grid-template-columns: 270px 10px auto;
  align-items: center;


  width: 800px;
  height: 500px;
  background-color: rgb(161, 129, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 5px;
}

.ProjectOverview button {
  width: fit-content;
  height: fit-content;
  
  position: absolute;
  top: 3px;
  right: 3px;

  background-color: var(--brighterPurpleColor);
  border: none;
  border-radius: 3px;
  opacity: 0.3;
  color: var(--textColor);
  font-size: 20px;
}

.ProjectOverview #line {
  background-color: #232323;
  height: 90%;
  width: 1px;
  border-radius: 10px;
}

.ProjectHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectSocialMediaContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProjectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProjectDetails p {
  color: var(--textColor);
  font-family: "OpenSans-Bold";
  width: 80%;
}

@media screen and (max-width: 800px) {
  .ProjectOverview {
    width: 600px;
    grid-template-columns: 200px 10px auto;
  }

  .ProjectOverview .slideshow {
    width: 300px;
    height: 200px;
  }

  .ProjectOverview .slideshow .imageNavigationButtons {
    gap: 230px;
  }

  .ProjectOverview .slideshow .imageNavigationButton {
    width: 35px;
    height: 35px;
  }

  .ProjectOverview .slideshow .slideshowImageIndicators {
    margin-top: 160px;
  }
}

@media screen and (max-width: 625px) {
  .ProjectOverview {
    width: 350px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .ProjectOverview #line {
    display: none;
  }

  .ProjectOverview .slideshow {
    display: none;
  }
}



/**************
F O O T E R
***************/
.footer {
  margin-left: -8px;
  height: 20px;
  width: 1260px;
  background-color: #23262c;
  margin-top: 20px;
  text-align: center;
  color: var(--brighterPurpleColor);
  font-size: small;
}


/**************
Scroll Bar Style
***************/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track
{
  background-color: rgb(40,40,45);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--textColor);
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--brighterPurpleColor);
}