:root {
  --whiteColor: rgb(239, 239, 239);
  --websitePageColor: rgb(51,53,59);
  --textColor: rgb(161, 129, 255, 0.7);
  --brighterPurpleColor: rgb(138, 99, 255, 0.7);
  --pageHeight: 650px;
}


html {
  font-family: 'Segoe UI';
  background-color: #292D34;
}

/**************
Container (Everything below <HomePage />)
***************/
.container
{
  position: relative;
}


/**************
Home Page
***************/
#homepage_text {
  color: var(--textColor);
  font-size: 128px;
  position: absolute;
  top:25%;
  left: 23.5%;
  z-index: 1000;
}

#homepage_text:hover
{
  color: var(--brighterPurpleColor);
}

.homepage_image_container {
  z-index: 0;
}

#css_logo
{
  width:250px;
  position: absolute;
  top: 10%;
  left: 5%;
  filter: blur(3px);
}

#csharp_logo
{
  position: absolute;
  left: 19.5%;
  top: 50%;
  filter: blur(3px);
}

#javascript_logo
{
  position: absolute;
  left: 35%;
  top: 5%;
  filter: blur(3px);
}

#html_logo
{
  width: 300px;
  position: absolute;
  left: 70%;
  top: 35%;
  filter: blur(3px);
}

.homepage_navigation_button
{
  background-color: rgb(51, 53, 59, 0.3);
  border: none;
  filter: blur(1px);
  border-radius: 10px;
  color: var(--textColor);
  font-weight: bold;
  position: absolute;
  width: 200px;
  height: 60px;
  font-size: 35px;
  top: 47.5%;
}

.homepage_navigation_button:hover
{
  filter: blur(0px);
  color: var(--brighterPurpleColor);
}

#ProjectsButton
{
  left: 79%;
}

#AboutMeButton
{
  left: 5%;
}

/**************
About Me Page
***************/
.aboutMeContainer
{
  height: var(--pageHeight);
  position: relative;
  top: 800px;
  width: 700px;
  left: 23.5%;
}

.topic_title
{
  color: var(--whiteColor);
  text-align: center;
}

.topic_title:hover
{
  color: var(--brighterPurpleColor);
}

p.topic_description
{
  color: var(--whiteColor);
  text-align: center;
}

p.topic_description:hover
{
  font-size: 30px;
  color: var(--textColor);
}

.socialMediaContainer
{
  --hoverTextColor: var(--whiteColor);

  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaLink:hover
{
  --hoverTextColor: var(--brighterPurpleColor);
}

#socialMediaImage
{
  width: 60px;
}

#socialMediaContent
{
  font-size: 20px;
  color: var(--hoverTextColor);
  margin-left: 10px;
  float: right;
  }

/**************
Projects Page
***************/

.projectsContainer
{
  height: var(--pageHeight);
  position: relative;
  top: 800px;;
  width: 700px;
  left: 23.5%;

  text-align: center;
}

.projectContainer
{
  width: 600px;
  height: 400px;
  margin-left: 50px;

  color: var(--whiteColor);

}

#projectName
{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: -20px;
}

#projectLink
{
  color: var(--brighterPurpleColor);
}

#projectImage
{
  max-width: inherit;
  height: inherit;
  border-radius: 10px;
  
}

.projectImageBox
{
  margin: auto;
  
  /*background-color: #2C2F36;*/
  max-width: inherit;
  height: 300px;
  border-radius: 10px;

}

/**************
Scroll Bar Style
***************/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track
{
  background-color: rgb(40,40,45);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--textColor);
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--brighterPurpleColor);
}